DATABASE_URL=postgres://postgres:postgres@localhost:5432/hc-ai
BASE_URL=
PORT=

HACK_CLUB_CLIENT_ID=
HACK_CLUB_CLIENT_SECRET=

OPENAI_API_URL=
# already revoked, dw
OPENAI_API_KEY=sk-hc-v1-f7c4850372ba4a2db6b8ae89bb6dc4b2ac4c59c5e089484a92e2821ed6fc316f

OPENAI_MODERATION_API_KEY=
OPENAI_MODERATION_API_URL=

ALLOWED_LANGUAGE_MODELS=
ALLOWED_IMAGE_MODELS=
ALLOWED_EMBEDDING_MODELS=

NODE_ENV=

ENFORCE_IDV=

OPENROUTER_PROVISIONING_KEY=

REPLICATE_API_KEY=
REPLICATE_SESSION_ID=
REPLICATE_USERNAME=

POSTHOG_API_KEY=
POSTHOG_UI_HOST=
POSTHOG_API_HOST=

SENTRY_DSN=

MISTRAL_API_KEY=

EXA_API_KEY=
